In [629]:
import numpy as np 
import pandas as pd

In [631]:
from numpy.random import randn

In [633]:
np.random.seed(101)

In [635]:
df = pd.DataFrame(randn(5,4) , ['A','B','C','D' ,'E'], columns =' w x y z'.split())

In [637]:
df

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [639]:
df['w']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: w, dtype: float64

In [641]:
type(df['w'])

pandas.core.series.Series

In [643]:
type(df)

pandas.core.frame.DataFrame

In [645]:
df[['w' , 'z']]

          w         z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [647]:
df['New'] = df['w'] + df['y']

In [649]:
df['New']

A    3.614819
B   -0.196959
C   -1.489355
D   -0.744542
E    2.796762
Name: New, dtype: float64

In [651]:
df

          w         x         y         z       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [653]:
df.drop('New' , axis = 1)

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [655]:
df

          w         x         y         z       New
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [657]:
df.drop('New' , axis = 1 , inplace = True)

In [659]:
df

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [661]:
df.drop('E', axis = 0)

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [663]:
df

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [665]:
df.drop('E' , inplace = True )

In [667]:
df

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [669]:
df.shape

(4, 4)

In [671]:
df.loc['A']

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: A, dtype: float64

In [673]:
df.iloc[1]

w    0.651118
x   -0.319318
y   -0.848077
z    0.605965
Name: B, dtype: float64

In [675]:
df.loc['A', 'y']

0.9079694464765431

In [677]:
df.loc[['A', 'C'] , ['w','y']]

          w         y
A  2.706850  0.907969
C -2.018168  0.528813

In [679]:
df.reset_index()

  index         w         x         y         z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057

In [682]:
#booldf

In [684]:
#df[booldf]

In [686]:
#df =[df > 0]

In [688]:
#df['w']> 0

In [690]:
#df[df['w']>0]

In [692]:
df

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057

In [694]:
df[df['w']>0]

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [696]:
df[df['z']>0]['x']

A    0.628133
B   -0.319318
D   -0.758872
Name: x, dtype: float64

In [698]:
df[(df['w'] > 0) & (df['y'] < 0)]

          w         x         y         z
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [700]:
df[(df['w'] > 0) | (df['y'] < 0)]

          w         x         y         z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057

In [702]:
df.reset_index()

  index         w         x         y         z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057

In [704]:
df.reset_index(inplace=True)

In [706]:
df

  index         w         x         y         z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057

In [708]:
new_ind = 'ca na or co'.split()

In [710]:
new_ind

['ca', 'na', 'or', 'co']

In [712]:
df['States'] = new_ind

In [714]:
df

  index         w         x         y         z States
0     A  2.706850  0.628133  0.907969  0.503826     ca
1     B  0.651118 -0.319318 -0.848077  0.605965     na
2     C -2.018168  0.740122  0.528813 -0.589001     or
3     D  0.188695 -0.758872 -0.933237  0.955057     co

In [716]:
df.set_index('States' ,inplace = True)

In [718]:
df

       index         w         x         y         z
States
ca         A  2.706850  0.628133  0.907969  0.503826
na         B  0.651118 -0.319318 -0.848077  0.605965
or         C -2.018168  0.740122  0.528813 -0.589001
co         D  0.188695 -0.758872 -0.933237  0.955057