In [10]:
import numpy as np
import pandas as pd
outside =['G1' ,'G1','G1','G2' ,'G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside)) # بتحطهم جمب بعض بيبقوا tubles
hier_index = pd.MultiIndex.from_tuples(hier_index) #بتعمل ترتيب رقمي

In [12]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [14]:
inside

[1, 2, 3, 1, 2, 3]

In [16]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [18]:
hier_index = pd.MultiIndex.from_tuples(hier_index) #بتعمل ترتيب رقمي

In [20]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [ ]:
from numpy.random import randn
np.random.seed(101)

In [34]:
df= pd.DataFrame(np.random.randn(6,2), index = hier_index , columns = ['A', 'B'])

In [36]:
df

             A         B
G1 1  0.727792  0.037264
   2  1.209068  0.873570
   3  1.289197  2.302562
G2 1 -0.467773  1.374234
   2  1.263130  0.185337
   3 -0.078919 -0.424545

In [40]:
df.loc['G1'].loc[1]

A    0.727792
B    0.037264
Name: 1, dtype: float64

In [57]:
df.index.names = ['Group' , 'Num']
df

                  A         B
Group Num
G1    1    0.727792  0.037264
      2    1.209068  0.873570
      3    1.289197  2.302562
G2    1   -0.467773  1.374234
      2    1.263130  0.185337
      3   -0.078919 -0.424545

In [59]:
df.loc['G2'].loc[2].loc['B']

0.18533727629719274

In [72]:
#df.xs(['G1', 1])

In [74]:
df.xs(1,level = 'Num')

              A         B
Group
G1     0.727792  0.037264
G2    -0.467773  1.374234